<nav class="navbar navbar-expand-lg" style="background-color:#EAE7DC;">
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active h1 nav-text mx-2" style="color: #F64C72;" routerLink="component-recommendation">Component Recommendation</a>
        <a class="nav-item nav-link active h1 nav-text mx-2" style="color: #F64C72;" routerLink="usage-compatibility">Usage Compatibility</a>
        <a class="nav-item nav-link active h1 nav-text mx-2" style="color: #F64C72;" routerLink="failure-cause">Failure Cause</a>
        <a class="nav-item nav-link active h1 nav-text mx-2" style="color: #F64C72;" routerLink="similarity-check">Find similar</a>
      </div>
    </div>
  </nav>
