<div class="mx-5 my-5">
    <form>
        <div class="form-group mt-3">
            <label for="exampleFormControlSelect1">Select CPU:</label>
            <select [(ngModel)]="cpu" class="form-control" name="cpuSelect">
              <option *ngFor="let CPU of CPUS">{{CPU.title}}</option>
            </select>
          </div>
          <div class="form-group mt-3">
            <label for="exampleFormControlSelect1">Select GPU:</label>
            <select [(ngModel)]="gpu" class="form-control" name="gpuSelect">
              <option *ngFor="let GPU of GPUS">{{GPU.title}}</option>
            </select>
          </div>
          <div class="form-group mt-3">
            <label for="exampleFormControlSelect1">Select RAM:</label>
            <select [(ngModel)]="ram" class="form-control" name="ramSelect">
              <option *ngFor="let RAM of RAMS">{{RAM.title}}</option>
            </select>
          </div>
          <div class="form-group mt-3">
            <label for="exampleFormControlSelect1">Select Memory Disk:</label>
            <select [(ngModel)]="hdd" class="form-control" name="hddSelect">
              <option *ngFor="let HDD of HDDS">{{HDD.title}}</option>
            </select>
          </div>
        <button (click)="Submit()" style="background-color: #F64C72; color: white;" class="btn mt-5">Submit</button>
    </form>

    <div *ngIf="fuzzy.homeUsage != null" class="my-5" style="color: #58504b;">
      <div class="my-3 row">
          <div class="col">
                <h5>Kucna upotreba:</h5>
            </div>
            <div class="col">
                <label>{{fuzzy.homeUsage}} %</label>
            </div>
            <div class="col"></div><div class="col"></div><div class="col"></div>
      </div>
      <div class="my-3 row">
          <div class="col">
              <h5>Poslovna upotreba:</h5>
          </div>
          <div class="col">
              <label>{{fuzzy.professionalUsage}} %</label>
          </div>
          <div class="col"></div><div class="col"></div><div class="col"></div>
      </div>
      <div class="my-3 row">
        <div class="col">
            <h5>Igranje igara:</h5>
        </div>
        <div class="col">
            <label>{{fuzzy.gaming}} %</label>
        </div>
        <div class="col"></div><div class="col"></div><div class="col"></div>
      </div>
      <div class="my-3 row">
        <div class="col">
            <h5>Rudarenje:</h5>
        </div>
        <div class="col">
            <label>{{fuzzy.mining}} %</label>
        </div>
        <div class="col"></div><div class="col"></div><div class="col"></div>
    </div>
    <div class="my-3 row">
      <div class="col">
          <h5>Web hosting:</h5>
      </div>
      <div class="col">
          <label>{{fuzzy.serverHosting}} %</label>
      </div>
      <div class="col"></div><div class="col"></div><div class="col"></div>
    </div>
    </div>
</div>

